<footer class=" bg-light">
    <div class="row"> 
      <div class="col-12">
        <h3>PlayWithUs</h3>

        <div class="row">
          <div class="col-12 col-sm-7">
            <p><small>Todos los derechos reservados &copy</a></small>
            </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>