<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlayWithUs | {% block title %}{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>

<body>
    <div class="container">
        {% include '_header.html' %}

        {% block content %}
        {% endblock %}

        {% include '_footer.html' %}
    </div>
    
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    {% block extrascripts %}{% endblock extrascripts %}
</body>