<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div class="bg-custom text-white">
  <footer class="">
    <div class="row mx-auto"> 
      
      <div class="col-12 col-md d-flex flex-column align-items-center justify-content-center pt-2">
        <h3>PLAYWITHUS</h3>
        <p class="mb-3"><small>Todos los derechos reservados &copy</small></p>
      </div>
      
      <div class="col-12 col-md d-md-flex align-items-center justify-content-center">
        <ul class="list-unstyled">
          <li class="pb-2 pt-4">
            <a href="{% url 'index' %}">Inicio</a>
          </li>
          {% if user.is_authenticated %}
            <li class="pb-2">
              <a href="{{ user.get_absolute_url }}">Perfil</a>
            </li>
            <li class="pb-2">
              <a href="{% url 'mails:mails-list' %}">Mensajes</a>
            </li>
            <li class="pb-2">
              <a href="{% url 'accounts:profiles-list' %}">Busca y descubre</a>
            </li>
          {% else %}
            <li class="pb-2">
              <a href="#">Iniciar sesión</a>
            </li>
            <li class="pb-2">
              <a href="#">Regístrate</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-12 col-md d-flex justify-content-center align-items-center pt-3 pt-md-0">
          <a href="https://facebook.com/" class="social-round-icon black-round-icon fa-icon" title="">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/" class="social-round-icon white-round-icon fa-icon" title="">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        
      </div>
    </div>
  </footer>
</div>