<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ request.user.profile.get_absolute_url }}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mails:mails-list' %}">Mensajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:profiles-list' %}">Busca y descubre</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#myModal">
                            Inicia sesión / Regístrate
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <a class="navbar-brand mr-5" href="{% url 'index' %}">PLAYWITHUS</a>
        
    </nav>
</header>

