@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Montserrat&display=swap');

body {
    padding-top: 56px;
}

.navbar-brand {

    font-family: 'Montserrat', sans-serif;
    color: rgb(224, 224, 224);
}

.nav-link {

    font-family: 'Exo', sans-serif;
}

footer a, header a {

    text-align: center;
    text-decoration: none;
    color: rgb(224, 224, 224);
}

.fa {

    font-size: 30px;
    width: 50px;
    text-align: center;
}

footer h3 {

    font-family: 'Montserrat', sans-serif;
    color: rgb(224, 224, 224);
}