@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Montserrat&display=swap');

body {
    padding-top: 56px;
    font-family: 'Exo', sans-serif !important;
    background: #e2e8f0;
    margin-top:20px;
}

header {

    font-family: 'Montserrat', sans-serif !important;
}

footer {

    font-family: 'Montserrat', sans-serif !important;
}

.navbar-brand {

    font-family: 'Montserrat', sans-serif;
    color: rgb(224, 224, 224);
}

.nav-link {

    font-family: 'Exo', sans-serif;
}

footer a, header a {

    text-align: center;
    text-decoration: none !important;
    color: rgb(224, 224, 224) !important;
}

footer small {
    color: rgb(224, 224, 224);
}
footer a:hover, header a:hover {

    color: rgba(193, 206, 221, 0.13) !important;
}

.fa-icon {

    font-size: 30px;
    width: 50px;
    text-align: center;
}

footer h3 {

    font-family: 'Montserrat', sans-serif;
    color: rgb(224, 224, 224);
}

footer li {

    font-family: 'Montserrat', sans-serif;
}

.bg-custom {
    
    background-color: #044e99;
}