{% extends "base.html" %}

{% block title %}Perfiles{% endblock %}

{% block content %}
    <div class="container">
        <h2>Resultados</h2>
        {% for profile in object_list %}
            <div class="row justify-content-center">
                <div class="card col-12 col-md-6 col-lg-4">
                    <img class="img-fluid card-img-top" src="{{ profile.photo.url }}"/>
                   
                    <div class="card-body">
                        <h4 class="card-text">{{ profile.displayname }}</h4>
                        <span><a href="{{ profile.get_absolute_url }}">Ver perfil</a></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <ul class="list-unstyled">
                        <li>Bio: 
                        {% if profile.bio %}
                            {{ profile.bio }}
                        {% endif %}
                        </li>
                        
                    </div>
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock %}